# cmake-rs needs a recent cmake version because of the --parallel flag it passes to cmake.
before_script:
  - cmake --version
  - wget -q https://github.com/Kitware/CMake/releases/download/v3.23.2/cmake-3.23.2-linux-x86_64.tar.gz
  - tar zxf cmake-3.23.2-linux-x86_64.tar.gz
  - pwd
  - export PATH=$(pwd)/cmake-3.23.2-linux-x86_64/bin:$PATH
  - cmake --version

variables:
  CARGO_BUILD_TARGET: x86_64-unknown-linux-musl

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - rustup component add rustfmt
    - cargo build --all --all-targets --color=always
    - RUST_BACKTRACE=1 cargo test
    - ldd target/x86_64-unknown-linux-musl/debug/executor
    - ldd target/x86_64-unknown-linux-musl/debug/taskserver

release:
  stage: build
  only:
    - tags
  script:
    - rustup component add rustfmt
    - cargo build --release --all --all-targets --color=always
    - binrep push funtonic $CI_COMMIT_TAG target/x86_64-unknown-linux-musl/release/executor target/x86_64-unknown-linux-musl/release/taskserver target/x86_64-unknown-linux-musl/release/commander
