[Unit]
Description=Funtonic Executor
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/executor
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
